<html>
    <head>
      
      <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>  
      
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  
      <link rel="stylesheet" href="../css/style.css">
  
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>        
    
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    

    
    </head>
    
    <body>
      
      <style>
.nav-wrapper {
  background: linear-gradient(to right, white , black);
}

.nav-padding {
  left:140px ;
  bottom:4px;
}

.side-padding {
  left: 80px ;
}
.color{
  color:black;
}

        .transparentBG {
            background-color: rgba(255,255,255,0.8);
        }

</style>
     
     <!--Navigation bar -->
      <nav>
        
        <a href="#" data-target="slide-out" class="sidenav-trigger color"><i class="material-icons">menu</i></a>
        
        <div class="nav-wrapper ">
          <a  href="/" class="brand-logo side-padding"><img src="../images/icon.png" width="60px"></img></a>
          <a  href="/" class="brand-logo nav-padding"></img>Project Rails</a>
          <ul class="right hide-on-med-and-down">
             <li><a href="/map">Map</a></li>
            <li><form class="text">
              <div class="input-field">
                <input id="search" type="search" name="page" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
                <div class="search-results"></div>
              </div>
            </form></li>
            <li><a href="badges.html"><i  class="material-icons right"></i></a></li>
          </ul>
        </div>
      </nav>
      
      <a href="#" data-target="slide-out" class="sidenav-trigger side-padding"><i class="material-icons">menu</i></a>
     <ul id="slide-out" class="sidenav transparentBG">
    <li><div class="user-view">
      <div class="background">
        <img src="../images/new.jpeg">
      </div>
      <a href="/"><img class="circle" src="images/icon.png"></a>
      <a><span class="black-text"></span>Rails</a>
      <a><span class="black-text email">Find your line</span></a>
    </div></li>
    <li><a href="#!">Train Lines</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="/six"><i class="material-icons">cloud</i> 6 </a></li>
    <li><a class="waves-effect" href="/four"><i class="material-icons">cloud</i> 4 </a></li>
    <li><a class="waves-effect" href="/Q"><i class="material-icons">cloud</i> Q </a></li>
    <li><a class="waves-effect" href="/one"><i class="material-icons">cloud</i>1</a></li>
    <li><a class="waves-effect" href="/two"><i class="material-icons">cloud</i>2</a></li>
  </ul>
  
        

  <!--<ul class="sidenav" id="mobile-demo">-->
  <!--  <li><a href="sass.html">Sass</a></li>-->
  <!--  <li><a href="badges.html">Components</a></li>-->
  <!--  <li><a href="collapsible.html">JavaScript</a></li>-->
  <!--</ul>-->
  
   <div class="parallax-container">
      <div class="parallax"><img src="../images/empire-bg.jpg" width="100px"></div>
    </div>
    <div class="section grey">
      <div class="row container">
        <h2 class="header">Rails</h2>
        <h5 class="header">Your Personal Guide to the City </h5>
        <p class="grey-text text-darken-3 lighten-3">Project Rails is a service for anyone who finds themselves using the subway in The Big Apple! Project Rails allows you to browse the many subway lines that live under New York City and how long you have to wait to hop on a train at any station. Don't worry, we also tell you if there are any delays!</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="../images/subway.jpg"></div>
    </div>

        <footer class = "grey darken-3" class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Porject Rails</h5>
                <p class="grey-text text-lighten-4">Using the subway made easy with acurate times and delays. be sure to explore our site and use all of its features</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Media</h5>
                <ul>
                  <li><a class="blue-text text-lighten-3" href="#!">@ProjectRails</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li> 
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            ©2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
            
            
      <script>
      $(document).ready(function() {
      	$(".dropdown-trigger").dropdown();
      });
      </script>
      
      <script>
      $(document).ready(function(){
      $('.sidenav').sidenav();
      });</script>
      
    
      <script>  
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
    
      </body>
    
</html>
