<html>
    <head>
        <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>  
      
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  
      <link rel="stylesheet" href="../css/style.css">
  
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>        
    
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
        
        
    </head>
    <body>
              <style>
        .nav-wrapper {
  background: linear-gradient(to right, white , black);
}

.nav-padding {
  left:70px ;
  bottom:4px;
}

.color{
  color:black;
}
        
        body {
            background-image: url(../images/trains.png);
        }
        
        .tables {
            width: 60%;
            height: "500";
            opacity: 0.97;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            margin-top:auto;
        }
        .dark_opacity { 
            opacity: 1000 ;
        }
        
        .transparentBG {
            background-color: rgba(0,0,0,0);
        }
        </style>
             
              <!--Navigation bar -->
      <nav>
        
        <div class="nav-wrapper">
          <a  href="/" class="brand-logo nav-padding"></img>Project Rails</a>
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <a  href="/" class="brand-logo"><img src="../images/icon.png" width="60px"></img></a>
          <ul class="right hide-on-med-and-down">
             <li><a href="/map">Map</a></li>
             <li><a href="#" data-target="slide-out" class="sidenav-trigger "><i class="material-icons">menu</i></a></li>
            <li><form class="text">
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form></li>
            <li><a href="badges.html"><i  class="material-icons right"></i></a></li>
          </ul>
        </div>
      </nav>
      
     <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="../images/new.jpeg">
      </div>
      <a href="/"><img class="circle" src="images/icon.png"></a>
      <a><span class="black-text"></span>Rails</a>
      <a><span class="black-text email">Find your line</span></a>
    </div></li>
    <li><a href="#!">Train Lines</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="/six"><i class="material-icons">cloud</i> 6 </a></li>
    <li><a class="waves-effect" href="/five"><i class="material-icons">cloud</i> 5 </a></li>
    <li><a class="waves-effect" href="/four"><i class="material-icons">cloud</i>4</a></li>
    <li><a class="waves-effect" href="/Q"><i class="material-icons">cloud</i> Q </a></li>
    <li><a class="waves-effect" href="/one"><i class="material-icons">cloud</i>1</a></li>
    <li><a class="waves-effect" href="/two"><i class="material-icons">cloud</i>2</a></li>
    
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger "><i class="material-icons">menu</i></a>
              
              
    
    
        
    
    
    
     <table class = "tables grey lighten-2 highlight responsive-table">
        <thead>
          <tr>
              <th>Q Stations</th>
              <th>Est. Wait Time</th>
          </tr>
        </thead>

        <tbody>
            
         <% for x in 0..(@q_length-1)%> 
            <% random = rand(2..8) %> 
            
            <tr>
                <td><%= @q[0][x].name %></td>
                <td><%=random%></td>
            </tr>
            
        <% end %> 

        </tbody>
      </table>
            

<footer class = "grey darken-3" class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Porject Rails</h5>
                <p class="grey-text text-lighten-4">Using the subway made easy with acurate times and delays. be sure to explore our site and use all of its features</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Media</h5>
                <ul>
                  <li><a class="blue-text text-lighten-3" href="#!">@ProjectRails</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li> 
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            ©2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
        
        
    
        
        
        
        
        <script>
      $(document).ready(function() {
      	$(".dropdown-trigger").dropdown();
      });
      </script>
      
      <script>
      $(document).ready(function(){
      $('.sidenav').sidenav();
      });</script>   
        
        
    </body>
    
    
    
    
    
</html>