<html>
    <head>
        <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>  
      
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  
      <link rel="stylesheet" href="../css/style.css">
  
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>        
    
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
        
        
    </head>
    <body>
              <style>
        .nav-wrapper {
          background: linear-gradient(to right, red , yellow);
        }
        
        body {
            background-image: url(../images/trains.png);
        }
        
        .tables {
            width: 60%;
            height: "500";
            opacity: 0.97;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            margin-top:auto;
        }
        .dark_opacity { 
            opacity: 1000 ;
        }
        
        .transparentBG {
            background-color: rgba(0,0,0,0);
        }
        </style>
             
             <!--Navigation bar -->
              <nav >
                <div class="nav-wrapper">
                  <a href="/" class="brand-logo"><h5>Rails</h5></a>
                  <ul class="right hide-on-med-and-down">
                    <a  href="/" class="brand-logo center"><img src="../images/icon.png" width="60px"></img></a>
                    <li><a href="/times">Times</a></li>
                    <li><form class="text">
                      <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                      </div>
                    </form></li>
                    <li><a href="badges.html"><i  class="material-icons right"></i></a></li>
                  </ul>
                </div>
              </nav>
              
                         <ul id="slide-out" class="sidenav">
                    <li><div class="user-view">
                  <div class="background">
                  </div>
                  <a href="#user"><img class="circle" src="images/icon.png"></a>
                  <a href="#name"><span class="black-text name">Rails</span></a>
                  <a href="#email"><span class="black-text email">Find your line</span></a>
                </div></li>
                <li><a href="#!">Train Lines</a></li>
                <li><div class="divider"></div></li>
                <li><a class="waves-effect" href="/times"><i class="material-icons">cloud</i>six</a></li>
                <li><a class="waves-effect" href="/times"><i class="material-icons">cloud</i></a></li>
                <li><a class="waves-effect" href="/times"><i class="material-icons">cloud</i></a></li>
              </ul>
              <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              
              
    
    
        
    
    
    
     <table class = "tables grey lighten-2 highlight responsive-table">
        <thead>
          <tr>
              <th>Station</th>
              <th>Est. Wait Time</th>
          </tr>
        </thead>

        <tbody>
            
         <% for x in 0..(@six_length-1)%> 
            <% random = rand(2..8) %> 
            
            <tr>
                <td><%= @six[0][x].name %></td>
                <td><%=random%></td>
            </tr>
            
        <% end %> 

        </tbody>
      </table>
            

        
        
    
        
        
        
        
        <script>
      $(document).ready(function() {
      	$(".dropdown-trigger").dropdown();
      });
      </script>
      
      <script>
      $(document).ready(function(){
      $('.sidenav').sidenav();
      });</script>   
        
        
    </body>
    
    
    
    
    
</html>